#anim { 
        position:absolute;
        width:100%;
        height:100%;
 }

body{ 
      background:#111;
 }

#status{ 
         display:none;
 }

canvas{ 
        display:none;
 }

.icons-container{ 
                  left:0;
                  top:0;
                  position:abolute;
                  width:40%;
                  height:50%;
                  display:inline;
                  background:#aaa;
                  }

.science-container{ 
                    top:0;
                    left:40%;
                    width:50%;
                    display:inline;
                    position:absolute;
                    color:#fff;
                    text-align:center;
                    }


#bio-container{ 
                    top:50%;
                    left:20%;
                    width:60%;
                    height:50%
                    display:inline;
                    position:absolute;
                    color:#fff;
                    text-align:center;
                    }

#bio-titre{ 
            padding-bottom:40px;
            font-size:36pt;
            font-weight:500;
            font:didot;
 }

#bio-surtitre{ 
               font-size:24pt;
               padding-bottom:5px;
 }

.bio-bio{ 

          padding-bottom:20px;
          font-size:16pt;
 }

#bio-bio{ 
          opacity:0;
 }

#bio-bio-swipe{ 
                font-size:20px;
 }


.img-bec{ 
          position:absolute;
          top:75px;
          }

.img-plume{
            position:absolute;
            top:225px;
            }

.img-pattes{ 
          
             position:absolute;
             top:375px;
             }


.texte-science{ 
                display:block;                
                left:0%;
                font-size:15pt;
                }

#texte-bec{ 
            position:absolute;
            left:0%;            
            top:100px;
            }

#texte-plume{ 
               position:absolute;
               left:0%;            
               top:250px;
               }

#texte-pattes{
               position:absolute;
               left:0%;            
               top:400px;
               }


.anim-item{ 
            width:200px;
            display:none;
            position:absolute;
 }

.anim-blobule{ 
            width:150px;
            display:none;
            position:absolute;
 }


.img-item{ 
           width:100%;
           opacity:0;
           left:-50%;
           margin-left:150px;
           margin-right:70px;
           float:right;
           
 }

.reflection{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

line{ 
      fill:orangered; 
      stroke:black; 
      stroke-width:1; }

canvas { 
         background:black;
         left:0px;
         top:0px;
         position:absolute;
         visibility:hidden;
         }